body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-container {
  font-size: 40px;
}

.star {
  padding: 5px;
  color: grey;
  cursor: pointer;
}

.star-filled {
  color: gold;
}
